*{
  box-sizing: border-box;
  margin: 0;
}

/* input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

} */

body{
	background:url(../img/background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

ul{
  padding: 8px 0;
}


/*nome no topo*/
.conteudoTopo{
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../img/background/BackgroundTopo2.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}


/*botão*/
.conteudoMenu{
  width: 98%;
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
#linkMenuSimulador{
  background: #FF7514;
}
#linkMenuCalendario{
  background: #FF7514;
}
.linkMenu{
  margin: auto 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  color:#ffffff;
  padding: 10px;
  font-size: 18px;
  width: 30%;
}
.nomeBotao{
  font-weight: bolder;
}
.imgBotao{
  height: 16px;
  padding: 0px 10px;
}



/*conteudo*/
.conteudoSimulador{
  display: grid;
  width: 98%;
  margin: 2.5px auto;
  padding: 5px 20px 20px 20px;
}
.divisaoAV{
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  padding: 20px;  
  background-color: #ffffff79;
}
#divisaoParte01{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#divisaoMediaFinal01Situacao{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.conteudoNomeAV{
  display: flex;
  margin: auto;
}
.nomeAV{
  width: 180px;
  background-color: #8E9794;
  padding: 10px 20px;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
}
#nomeMediaFinal01{
  background-color: #595D5C;
}

.conteudoAV{
  background-color: #E5E8E7;
  border-radius: 3px;
  padding: 2px 10px;
  margin: auto 5px;
}
#divisaoSituacaoMediaFinal01 .conteudoAV, #divisaoSituacaoMediaFinal02 .conteudoAV{
  background-color: #13ce9000;
}

.nomeAP{
  font-weight: bolder;
  margin: 0px 5px;
  font-size: 18px;
  color: #000000;
}
.notaAP{
  width: 60px;
  text-align: center;
  background-color: #ffffff;
  margin: 10px 2px;
  border: 1px solid #ffffff;
  color: #595D5C;
}



.conteudoMediaAV{
  margin: auto;
}



#conteudoResultadoParte01, #conteudoResultadoParte02, #conteudoResultadoParte03, #conteudoResultadoParte04, #conteudoResultadoParte05, #conteudoResultadoParte06, #conteudoResultadoParte07, #conteudoResultadoMediaFinal01, #conteudoResultadoMediaFinal02{
  display: flex;
  margin: auto;
} 
#resultadoNomeParte01, #resultadoNomeParte02, #resultadoNomeParte03, #resultadoNomeParte04, #resultadoNomeParte05, #resultadoNomeParte06, #resultadoNomeParte07, #resultadoNomeMediaFinal01, #resultadoNomeMediaFinal02{
  margin-top:auto;
  margin-bottom:auto;
  border-radius: 3px;
  text-align: center;
  background-color: #BFC8C5;
  text-align: center;
  width: 210px;
}
#resultadoParte01, #resultadoParte02, #resultadoParte03, #resultadoParte04, #resultadoParte05, #resultadoParte06, #resultadoParte07, #resultadoMediaFinal01, #resultadoMediaFinal02{
  background-color: #E5E8E7;
  border: #E5E8E7 1px solid;
}
#resultadoParte01, #resultadoParte02, #resultadoParte03, #resultadoParte04, #resultadoParte05, #resultadoParte06, #resultadoParte07, #resultadoMediaFinal01, #resultadoMediaFinal02, #Parte01, #Parte02, #Parte03, #Parte04, #Parte05, #Parte06, #Parte07{
  width: 60px;
}

.nomeSituacao{
  width: 350px;
  height: 45px; 
  text-align: center;
  background-color: #e1090900;
  border: 1px solid #8E9794;
}


#nomeMediaFinal01Situacao, #nomeMediaFinal02Situacao{
  background-color: #323232;
}
#conteudoMediaFinal01Situacao, #conteudoMediaFinal02Situacao{
  background-color: #ffffff00;
}
input{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #FF7514;
}

.ocultarRecuperacao{
  display: none;
}

.botaoDelete,.btCalcular{
  color:#ffffff;
  border: 1px solid #FF7514;
  cursor: pointer;
  border-radius: 50px;
}
.btCalcular{
  margin: 10px 0px;
  float: right;
}
.conteudoDelete{
  text-align: center;
}

hr{
  width: 75%;
  border-top: 1px solid rgb(225, 225, 225);
  margin: 5px auto;
  margin-top: 20px;
}


/* #divisaoMediaFinal02, #divisaoMediaFinal02Situacao{
display: none;
}
 */

@media only screen and (max-width: 880px){
  .divisaoAV{
   display: grid;
   grid-template-columns: 1fr;
  }
  .conteudoAV#conteudoParte01, .conteudoAV#conteudoParte02, .conteudoAV#conteudoParte03, .conteudoAV#conteudoParte04, #conteudoParte05, #conteudoParte06, #conteudoParte07, .conteudoAV#conteudoMediaFinal01,.conteudoAV#conteudoMediaFinal02{
    margin: 10px;
  }
  #conteudoSituacaoParte01, #conteudoSituacaoParte02, #conteudoSituacaoParte03, #conteudoSituacaoParte04, #conteudoSituacaoParte05, #conteudoSituacaoParte06, #conteudoSituacaoParte07, #conteudoMediaSituacaoFinal01, #conteudoMediaSituacaoFinal02{
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media only screen and (max-width: 600px){
  .linkMenu{
    display: inline-flex;
  }
  .btCalcular{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 440px){
  .linkMenu{
    display: grid;
  }
  .imgBotao{
    margin: auto;
  }
  .conteudoAV#conteudoMediaFinal01, .conteudoAV#conteudoMediaFinal02{
    display: grid;
    grid-template-columns: 1fr;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  #divisaoMediaFinal01{
    margin-top: 50px;
  }
  .nomeAP{
    margin-left: auto;
    margin-right: auto;
  }
  .btCalcular{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .nomeSituacao{
    width: 200px;
  }

}
@media only screen and (max-width: 375px){
  a.menu{
    padding: 3px;
    justify-content: center;
    align-items: center;
  }
  .conteudoMenu{
    margin: 15px auto;
    padding: 15px 0px;
  }

  input{
    margin: 5px;
  }
  hr{
    width: 85%;
  }
}


.conteudoSimuladorNone{
  display: none;
}



/*informacoes*/
.conteudoBotao{
  display: grid;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 400px;
  cursor: pointer;
  padding: 5px;
}.conteudoBotaoNone{
  display: none;
}

#botaoInfo{
  font-size: 65px;
  color: #FF7514;
  border-radius: 400px;
}
#botaoInfo:hover{
  font-size: 70px;
}
.conteudoBotaoFechar{
  display: grid;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #FF7514;
  border-radius: 500px;
  margin: 5px;
  padding: 3px 5px;
  cursor: pointer;
}

#botaoInfoFechar{
  font-size: 50px;
  color: #ffffff;

}
#botaoInfoFechar:hover{
  font-size: 55px;

}


.conteudoDecricao{
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0px;
  width: 97%;
  margin: 20px auto;
  padding: 20px;
	/* background:url(../img/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; */
  background-color: #f7f7f7;
  border: 1px solid #8E9794;
}.conteudoDecricaoExibir{
  display: grid;
  max-height: auto;
  min-height: 95vh;
}

#conteudoNomeInformacao{
  position: absolute;
  top: 0;
	background:url(../img/background/BackgroundTopo2.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: auto 0px;
}
#nomeInfomacoes{
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  margin: 15px 0px;
  text-align: center;
}

.conteudoDescricaoAvaliacao{
  padding: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}


th,td{
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.nomeTitulo{
  background-color: #FF7514;
  color: #ffffff;
}

.conteudoTabelaAV{
  font-weight:500;
}
.conteudoTabelaAV1{
  background-color: #E5E8E7;
  color: #303030;
}
.conteudoTabelaAV2{
  background-color: #BFC8C5;
  color: #303030;
}

.RegrasAprovacao{
  margin-top: 20px;
  padding: 20px 5px;
  color: #303030;
  border: 1px solid #FF7514;
  border-radius: 5px;
}
.RegrasAprovacao p{
  padding: 2px;
}

.descricaoObs{
  color: #303030;
  font-size: 18px;
}
.obs{
  font-size: 17px;
  color: #FF7514;
  font-weight: bold;
}

.recuo{
  text-indent: 16px;
  margin-top: 5px;
}

@media only screen and (max-width: 555px){
  .tabelaRegrasCalculo3AVS{
    display: block;
    overflow: scroll;
    width: 85%;
    position: absolute;
  }
  .RegrasAprovacao{
    margin-top: 450px;
  }
}